.obsidian/workspace
.obsidian/cache
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/plugins/

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.tmp
*.bak
*.swp
*~

.obsidian/media-cache/

!.gitkeep