.obsidian/*
!.obsidian/snippets/
!.obsidian/snippets/graph-color.css

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.tmp
*.bak
*.swp
*~

.obsidian/media-cache/

!.gitkeep